@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Blue);
}

.header-light {
    font-weight: lighter;
    margin-block-end: 0;
    margin-top: 5rem;
    text-align: center;
}

.header-light,
.header-bold {
    font-size: 1.6rem;
}

.header-bold,
.header-desc {
    margin-block-start: 0;
    text-align: center;
}

.header-desc {
    padding: 0 2rem;
}

.header-desc,
.div-para {
    color: var(--Grayish-Blue);
}

.content-container div {
    background-color: white;
    margin: 1.4rem;
    border-radius: 0.3rem;
    padding: 1.5rem;
    box-shadow: 2px 2px 10px var(--Grayish-Blue);
}

.cyan-div {
    border-top: 5px solid var(--Cyan);
}

.red-div {
    border-top: 5px solid var(--Red);
}

.orange-div {
    border-top: 5px solid var(--Orange);
}

.blue-div {
    border-top: 5px solid var(--Blue);
}

img {
    display: block;
    margin-top: 10%;
    margin-left: auto;
}

.div-header,
.div-para {
    margin-block-start: 0;
    margin-block-end: 0.5rem;
}

.div-para {
    font-size: small;
}

.attribution {
    font-size: 11px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    color: var(--white);
}

.attribution a {
    color: var(--white);
    font-style: italic;
    font-weight: bold;
}

@media only screen and (min-width:800px) {
    .header-light {
        margin-top: 3rem;
    }

    .header-desc {
        font-size: small;
        margin: auto;
        width: 30%;
    }

    .header-light,
    .header-bold {
        font-size: 1.8rem;
    }

    .header-bold {
        margin-block-end: 0.8rem;
    }

    .content-container {
        display: flex;
        margin: auto;
        margin-top: 1.5rem;
        width: 70%;
        font-size: smaller;
        justify-content: center;
        align-items: center;
    }

    .flex-content {
        flex: 1 1 1px;
    }

    .mid {
        flex-grow: 1.4;
    }
}